.vog{
    position: absolute;
    font-size: 20px;
    top: 360px;
    left: 280px;
}
.vog1{
    position: absolute;
    font-size: 35px;
    top:200px;
    left: 450px;
}
.vog2{
    position: absolute;
    font-size: 35px;
    top:200px;
    left: 850px;
}
.vog3{
    position: absolute;
    font-size: 35px;
    top:300px;
    left: 550px;
    width: 600px;
}
.vog4{
    position: absolute;
    font-size: 20px;
    top:400px;
    left: 550px;
    width: 600px;
}
.vo1{
    position: absolute;
    top:300px;
    left: 1250px;
    width: 220px;
}

.vog2{
    position: absolute;
    font-size: 20px;
    top: 660px;
    left: 280px;
}

.vog6{
    position: absolute;
    font-size: 35px;
    top:200px;
    left: 850px;
}
.vog7{
    position: absolute;
    font-size: 35px;
    top:600px;
    left: 550px;
    width: 600px;
}
.vog8{
    position: absolute;
    font-size: 20px;
    top:700px;
    left: 550px;
    width: 600px;
}
.vo2{
    position: absolute;
    top:600px;
    left: 1250px;
    width: 220px;
}

.voh1{
    position: absolute;
    font-size: 20px;
    top: 1070px;
    left: 280px;
}
.voh2{
    position: absolute;
    font-size: 35px;
    top:1000px;
    left: 550px;
    width: 600px;
}
.voh3{
    position: absolute;
    font-size: 20px;
    top:1100px;
    left: 550px;
    width: 600px;
}
.voh4{
    position: absolute;
    top:1000px;
    left: 1250px;
    width: 220px;
}
.vosh{
    position: absolute;
    top:1400px;
    left: 1250px;
    width: 220px;
}
.vosh1{
    position: absolute;
    font-size: 20px;
    top: 1470px;
    left: 280px;
}
.vosh2{
    position: absolute;
    font-size: 35px;
    top:1400px;
    left: 550px;
    width: 600px;
}
.vosh3{
    position: absolute;
    font-size: 20px;
    top:1500px;
    left: 550px;
    width: 600px;
}
.voshl{
    position: absolute;
    top:1800px;
    left: 1250px;
    width: 220px;
}
.vosh4{
    position: absolute;
    font-size: 20px;
    top: 1870px;
    left: 280px;
}
.vosh5{
    position: absolute;
    font-size: 35px;
    top:1800px;
    left: 550px;
    width: 600px;
}
.vosh6{
    position: absolute;
    font-size: 20px;
    top:1900px;
    left: 550px;
    width: 600px;
}
.te{
    position: absolute;
    font-size: 20px;
    top: 2100px;
    left: 800px;
}
.te1{
    position: absolute;
    font-size: 20px;
    top: 2200px;
    left: 700px;
}
.te2{
    position: absolute;
    font-size: 20px;
    top: 2200px;
    left: 800px;
}
.te3{
    position: absolute;
    font-size: 20px;
    top: 2200px;
    left: 900px;
}
.te4{
    position: absolute;
    font-size: 20px;
    top: 2200px;
    left: 1000px;
}
.te5{
    position: absolute;
    font-size: 20px;
    top: 2300px;
    left: 300px;
    width: 100px;
}
.te6{
    position: absolute;
    font-size: 20px;
    top: 2300px;
    left: 500px;
    width: 100px;
}
.te7{
    position: absolute;
    font-size: 20px;
    top: 2300px;
    left: 800px;
    width: 100px;
}
.te8{
    position: absolute;
    font-size: 20px;
    top: 2300px;
    left: 1100px;
    width: 100px;
}
.te9{
    position: absolute;
    font-size: 20px;
    top: 2300px;
    left: 1300px;
    width: 100px;
}
.te10{
    position: absolute;
    font-size: 20px;
    top: 2300px;
    left: 1500px;
    width: 100px;
}